[Desktop Entry]
Name=openSUSE
Comment=Default openSUSE theme

X-KDE-PluginInfo-Author=openSUSE KDE team
X-KDE-PluginInfo-Email=opensuse-kde@opensuse.org
X-KDE-PluginInfo-Name=openSUSE
X-Plasma-API=5.0
X-KDE-PluginInfo-Version=0.5
X-KDE-PluginInfo-Website=http://en.opensuse.org/Portal:KDE
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

[Settings]
FallbackTheme=oxygen

[Wallpaper]
defaultWallpaperTheme=openSUSEdefault
defaultFileSuffix=.jpg
defaultWidth=1920
defaultHeight=1080

[ContrastEffect]
enabled=true
contrast=0.2
intensity=2.0
saturation=1.7
